{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="jumbotron">
        <h1 class="display-4">Prediction Covid19</h1>
        <hr class="my-4">
		<br><br>
      <form action = "/" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <!--<input type = "submit"/> -->
          <br><br>
      </form>
        <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/sami-ghazouani-ing%C3%A9nieur/" role="button"> 
        Gladiators Team </a>
        
</div>
{% endblock %}